<div class="row">
    <div class="col-lg-12">
        <div class="card m-t-20">
            <div class="card-body">
                <h4 class="card-title">Orders</h4>
            </div>
        </div>
    </div>
</div>

<ngx-datatable
    #table
    class='material'
    [columnMode]="'force'"
    [headerHeight]="50"
    [footerHeight]="50"
    [externalPaging]="true"
    [rowHeight]="'auto'"
    [count]="total"
    [offset]="(page - 1)"
    [limit]="results"
    [rows]='rows'
    [externalSorting]="true"
    (page)="onPageChange($event)"
    (sort)="onSortChange($event)"
>
    <ngx-datatable-column name="Order date" prop="created">
        <ng-template let-value="value" ngx-datatable-cell-template>
            {{ value | date: "yyyy-MM-dd HH:mm:ss" }}
        </ng-template>
    </ngx-datatable-column>
    <ngx-datatable-column name="Products count" prop="products_count"></ngx-datatable-column>
    <ngx-datatable-column name="Pieces count" prop="pieces_count"></ngx-datatable-column>
    <ngx-datatable-column name="Total" prop="total">
        <ng-template let-value="value" ngx-datatable-cell-template>
            {{ value }} PLN
        </ng-template>
    </ngx-datatable-column>
    <ngx-datatable-column name="" prop="_id" [sortable]="false">
        <ng-template let-value="value" ngx-datatable-cell-template>
            <a [routerLink]="value" title="Details" class="text-primary m-r-10"><i class="fa fa-edit"></i> Details</a>
        </ng-template>
    </ngx-datatable-column>
</ngx-datatable>

