<div class="dashboard-header">
    <nav class="navbar navbar-expand bg-white fixed-top">
        <a class="navbar-brand" routerLink="/">Power Games <small class="text-danger text-small">Admin</small></a>
        <div class="navbar-nav ml-auto navbar-right-top">
            <div class="nav-item nav-user" ngbDropdown>
                <a class="nav-link pointer" ngbDropdownToggle>
                    <i class="fa fa-user-circle fa-2x"></i>
                </a>
                <div class="dropdown-menu-right nav-user-dropdown" ngbDropdownMenu>
                    <div class="nav-user-info">
                        <h5 class="mb-0 text-white nav-user-name">{{ user?.first_name }} {{ user?.last_name }}</h5>
                    </div>
                    <a ngbDropdownItem routerLink="/admin"><i class="fas fa-user mr-2"></i>Account</a>
                    <a ngbDropdownItem (click)="onLogout()" class="pointer"><i class="fas fa-power-off mr-2"></i>Logout</a>
                </div>
            </div>
        </div>
    </nav>
</div>
