<div class="row">
    <div class="col-lg-12">
        <div class="card m-t-20">
            <div class="card-body">
                <h4 class="card-title">Categories</h4>
                <form class="form-inline" [formGroup]="form">
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text bg-primary"><i class="fa fa-search"></i></span>
                        </div>
                        <input type='text' class="form-control" formControlName="search" placeholder='Search' >
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<div class="page-breadcrumb" *ngIf="parent">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item font-24 pointer">{{ parent.title }} &nbsp;<span class="text-danger" (click)="onParentFilter(null)">&times;</span></li>
        </ol>
    </nav>
    <br>
</div>
<ngx-datatable
    #table
    class='material'
    [columnMode]="'force'"
    [headerHeight]="50"
    [footerHeight]="50"
    [externalPaging]="true"
    [rowHeight]="'auto'"
    [count]="total"
    [offset]="(page - 1)"
    [limit]="results"
    [rows]='rows'
    [externalSorting]="true"
    (page)="onPageChange($event)"
    (sort)="onSortChange($event)"
>
    <ngx-datatable-column name="Title" prop="title"></ngx-datatable-column>
    <ngx-datatable-column name="Parent" prop="parent.title"></ngx-datatable-column>
    <ngx-datatable-column name="Created date" prop="created">
        <ng-template let-value="value" let-row="row" ngx-datatable-cell-template>
            {{ value | date: "yyyy-MM-dd HH:mm:ss"}}
        </ng-template>
    </ngx-datatable-column>
    <ngx-datatable-column name="" prop="_id"  [sortable]="false">
        <ng-template let-value="value" let-row="row" ngx-datatable-cell-template>
            <a href="javascript:void(0)" title="Select" class="text-primary m-r-10" (click)="selectedCategory.emit(row)"><i class="fa fa-mouse-pointer"></i> Select</a>
            <a href="javascript:void(0)" title="Children" class="text-primary m-r-10" (click)="onParentFilter(row)"><i class="fa fa-arrow-circle-down"></i> Children</a>
        </ng-template>
    </ngx-datatable-column>
</ngx-datatable>

