<div class="footer">
    <div class="container-fluid">
        <div class="row">
            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12">
                Copyright &copy; 2020 Adrian Maślerz
            </div>
        </div>
    </div>
</div>
