<div class="form-group">
    <div class="custom-control custom-checkbox mr-sm-2">
        <input type="checkbox" class="custom-control-input" [id]="name" [formControl]="form.get(name)">
        <label class="custom-control-label font-14" [for]="name">{{displayName}}</label>
    </div>
    <span class="invalid-feedback">{{ formUtils.handleValidationErrorMessage(form, name, messages) }} </span>
</div>
