<div class="row">
    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
        <div class="page-header">
            <h2 class="pageheader-title">Edit profile</h2>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-xl-6 col-lg-8 col-md-12 col-sm-12 col-12">
        <a routerLink="/admin"><i class="fa fa-arrow-left"></i> Back</a>
        <br>
        <br>
        <div class="card">
            <div class="card-body">
                <form class="m-t-20" [formGroup]="form" (ngSubmit)="onSubmit()">
                    <app-text-input [form]="form" name="first_name" [messages]="messages" displayName="First name" type="text"></app-text-input>
                    <app-text-input [form]="form" name="last_name" [messages]="messages" displayName="Last name" type="text"></app-text-input>
                    <div class="text-right">
                        <button type="submit" class="btn btn-primary" [disabled]="inProgress"><i class="fa fa-paper-plane"></i> Submit</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
