<div class="row">
    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
        <div class="page-header">
            <h2 class="pageheader-title">Dashboard</h2>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-lg-12">
        <div class="card m-t-20">
            <div class="card-body">
                <h4 class="card-title">Payments</h4>
            </div>
        </div>
    </div>
</div>

<ngx-datatable
    #table
    class='material'
    [columnMode]="'force'"
    [headerHeight]="50"
    [footerHeight]="50"
    [externalPaging]="true"
    [rowHeight]="'auto'"
    [count]="total"
    [offset]="(page - 1)"
    [limit]="results"
    [rows]='rows'
    [externalSorting]="true"
    (page)="onPageChange($event)"
>
    <ngx-datatable-column name="Payment date" prop="created" [sortable]="false">
        <ng-template let-value="value" ngx-datatable-cell-template>
            {{ value | date: "yyyy-MM-dd HH:mm:ss" }}
        </ng-template>
    </ngx-datatable-column>
    <ngx-datatable-column name="Customer" prop="user.email" [sortable]="false"></ngx-datatable-column>
    <ngx-datatable-column name="Card" prop="payment.card" [sortable]="false">
        <ng-template let-value="value" ngx-datatable-cell-template>
            <span>**** **** **** {{ value.last_4 }} </span><br>
            <span>{{ value.brand }} - {{ value.exp_month }}/{{ value.exp_year }}</span>
        </ng-template>
    </ngx-datatable-column>
    <ngx-datatable-column name="Total" prop="total" [sortable]="false">
        <ng-template let-value="value" ngx-datatable-cell-template>
            {{ value }} PLN
        </ng-template>
    </ngx-datatable-column>
    <ngx-datatable-column name="" prop="_id" [sortable]="false">
        <ng-template let-value="value" ngx-datatable-cell-template>
            <a [routerLink]="['/orders', value]" title="Details" class="text-primary m-r-10"><i class="fa fa-edit"></i> Details</a>
        </ng-template>
    </ngx-datatable-column>
</ngx-datatable>

